<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my_project">
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="withHealth"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".StaticSaveActivity" />
        <activity android:name=".HomeSaveActivity" />
        <activity android:name=".GoogleLogin" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Loading_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MakeGroupActivity" />
        <activity android:name=".ChestActivity" />
        <activity android:name=".PullupActivity"></activity>
        <activity android:name=".BackActivity" />
        <activity android:name=".BikeActivity" />
        <activity android:name=".YogaActivity" />
        <activity android:name=".GymActivity"/>
        <activity android:name=".RunActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity android:name=".group_info" />
        <activity
            android:name=".group_find_popup2"/>
        <activity
            android:name=".find_group_popup1"/>
        <activity android:name=".GroupActivity" />
        <activity android:name=".TipActivity" />
        <activity android:name=".StaticActivity" />
    </application>

</manifest>